coverage
docs
node_modules
.idea
.git
*.log
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
static
src
tars
temp
doc
dev
.dev
builds
build
*.orig
*~
.sass-cache
*.sublime-project
*.db
*.sqlite
temp/
.tmpTemplater
.tmpPreproc
/nbproject/*
.dev
dev
npm-debug.log
phantomjsdriver.log
/nbproject/*
**/sprite_96.*
**/svg-fallback-sprite.*
**/svg-sprite.*
bower.json
bower_dependencies.json
bower_components
markup/static/scss/vendor
markup/static/js/vendor
markup/static/fonts/vendor
markup/*