<!-- http://designkarma.co.uk/blog/using-flexbox-now -->
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <script type = "text/javascript">
alert ("You're using a recent version of Internet Explorer.");
//window.location.href = "http://www.google.com";
</script>
<![endif]-->
<style>
.lt-ie9 article, .lt-ie9 aside, .lt-ie9 nav {
  display: block;
}
</style>




<link rel="shorturl" href="http://gu.com/p/pvj" />
<meta name="content-id" content="/uk"/>
<!--[if lte IE 9]>
      <script src="http://static.guim.co.uk/static/b6c135ec8e49127c7c87055af29b2d52c4011fc0/common/external-scripts/html5enable.js"></script>
    <![endif]-->



<section id="html-messages">
  <!--[if lte IE 9]>
    <div class="old_browsers"><p>Ваш браузер устарел и неподдерживается. Он не может адекватно отображать страницы сайта. Мы можем предложить обновить?</p><p><a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Internet Explorer</a> | <a href="https://www.google.com/chrome/">Google Chrome</a> | <a href="http://www.mozilla.org/">Firefox</a></p></div>
  <![endif]-->
</section>

<section id="html-messages">
  <!--[if lt IE 9]>
    <div class="old_browsers"><p>Your browser is nice, but it's a bit, uh, old. Consequently, it can't adequately understand everything we've got going on. May we suggest an upgrade/update?</p><p><a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Internet Explorer</a> | <a href="https://www.google.com/chrome/">Google Chrome</a> | <a href="http://www.mozilla.org/">Firefox</a></p></div>
  <![endif]-->
</section>
