/*
inspired by:
https://github.com/minamarkham/sassy-starter/
https://github.com/kachunchau/smacss-boilerplate
https://github.com/davidrapson/scss-toolkit
*/
/* line 6, src/static/scss/_helpers.scss */
.text-center {
  text-align: center;
}

/* line 25, src/static/scss/_helpers.scss */
.show {
  display: block !important;
}

/* line 28, src/static/scss/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden !important;
}

/* line 32, src/static/scss/_helpers.scss */
.invisible {
  visibility: hidden;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 7, src/static/scss/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 16, src/static/scss/_normalize.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 21, src/static/scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 42, src/static/scss/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 57, src/static/scss/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 65, src/static/scss/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 77, src/static/scss/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 85, src/static/scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 89, src/static/scss/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/* line 94, src/static/scss/_normalize.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 97, src/static/scss/_normalize.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 100, src/static/scss/_normalize.scss */
::-webkit-input-placeholder {
  color: #999;
}

/* line 104, src/static/scss/_normalize.scss */
::-moz-placeholder {
  color: #999;
}

/* line 108, src/static/scss/_normalize.scss */
:-ms-input-placeholder {
  color: #999;
}

/* Fonts
   ========================================================================== */
/* Defaults  ========================================================================== */
/* line 14, src/static/scss/_base.scss */
body {
  min-width: 430px;
  height: 100%;
  background: #fff;
  color: #292f33;
}

/* line 28, src/static/scss/_base.scss */
img.pure-img {
  vertical-align: middle;
  max-width: 60%;
  display: inline;
}

/* line 34, src/static/scss/_base.scss */
code {
  color: #EF413D;
}

/* line 38, src/static/scss/_base.scss */
.pure-menu.pure-menu-horizontal {
  background: #fff;
}

/* line 42, src/static/scss/_base.scss */
.pure-menu {
  font-size: 90%;
}
/* line 44, src/static/scss/_base.scss */
.pure-menu .pure-menu-heading {
  margin-top: 2px;
  border: 0;
}

/* line 49, src/static/scss/_base.scss */
a {
  color: #0074d9;
  text-decoration: none;
  line-height: inherit;
}
/* line 53, src/static/scss/_base.scss */
a:focus, a:hover {
  color: #005bab;
}

/* line 58, src/static/scss/_base.scss */
a.pure-button:focus,
a.pure-button:hover {
  color: #fff;
}

/* line 63, src/static/scss/_base.scss */
pre code {
  color: #111;
  background-color: #ddd;
  border-width: 1px;
  border-style: solid;
  border-color: #aaa;
  display: block;
  padding: 0.5em;
}

/* line 74, src/static/scss/_base.scss */
.pure-button {
  border-radius: 1px;
}

/* line 77, src/static/scss/_base.scss */
.bg-blue {
  background: #3b5998;
  color: #fff;
}

/* line 81, src/static/scss/_base.scss */
.bg-ligh-blue {
  background: #26c4f1;
  color: #fff;
}

/* line 85, src/static/scss/_base.scss */
.bg-red {
  background: #ce2616;
  color: #fff;
}

/* line 89, src/static/scss/_base.scss */
.bg-ist {
  color: #000;
  background: #df7514;
  width: 84px;
}

/* line 94, src/static/scss/_base.scss */
.line-first {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #aaa;
}

/* line 99, src/static/scss/_base.scss */
.jbo-pr {
  text-align: right;
}

/* line 102, src/static/scss/_base.scss */
.jbo-pl {
  text-align: left;
}

/* line 105, src/static/scss/_base.scss */
.jbo-pj {
  text-align: justify;
}

/* line 108, src/static/scss/_base.scss */
.img_left {
  float: left;
  margin-right: 14px;
  margin-bottom: 14px;
  margin-top: 3px;
}

/* line 114, src/static/scss/_base.scss */
.img_right {
  margin-left: 14px;
  margin-top: 3px;
  margin-bottom: 14px;
  float: right;
}

/* line 121, src/static/scss/_base.scss */
.subscribe--error {
  padding: 2px 5px 2px 5px;
  margin: 0 1px 0 0;
  width: 100%;
}

/* Header  ========================================================================== */
/* line 128, src/static/scss/_base.scss */
header {
  height: 50px;
}

/* Footer  ========================================================================== */
/* line 132, src/static/scss/_base.scss */
footer {
  margin-top: 40px;
}



/*# sourceMappingURL=/home.css.map */