/*
inspired by:
https://github.com/minamarkham/sassy-starter/
https://github.com/kachunchau/smacss-boilerplate
https://github.com/davidrapson/scss-toolkit
*/
/* line 7, src/static/scss/_helpers.scss */
.text-center {
  text-align: center;
}

/* line 32, src/static/scss/_helpers.scss */
.show {
  display: block !important;
}

/* line 36, src/static/scss/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden !important;
}

/* line 41, src/static/scss/_helpers.scss */
.invisible {
  visibility: hidden;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 7, src/static/scss/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 18, src/static/scss/_normalize.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 24, src/static/scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 46, src/static/scss/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 63, src/static/scss/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 72, src/static/scss/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 85, src/static/scss/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 94, src/static/scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 99, src/static/scss/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/* line 105, src/static/scss/_normalize.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 109, src/static/scss/_normalize.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 113, src/static/scss/_normalize.scss */
::-webkit-input-placeholder {
  color: #999;
}

/* line 117, src/static/scss/_normalize.scss */
::-moz-placeholder {
  color: #999;
}

/* line 121, src/static/scss/_normalize.scss */
:-ms-input-placeholder {
  color: #999;
}

/*
* # Semantic UI
* https://github.com/Semantic-Org/Semantic-UI
* http://www.semantic-ui.com/
*
* Copyright 2014 Contributors
* Released under the MIT license
* http://opensource.org/licenses/MIT
*
*/
/*******************************
            Elements
*******************************/
/*--------------------
        Form
---------------------*/
/* line 23, src/static/scss/modules/_form.scss */
.ui.form {
  position: relative;
  max-width: 100%;
}

/*--------------------
        Content
---------------------*/
/* line 34, src/static/scss/modules/_form.scss */
.ui.form > p {
  margin: 1em 0;
}

/*--------------------
        Field
---------------------*/
/* line 43, src/static/scss/modules/_form.scss */
.ui.form .field {
  clear: both;
  margin: 0 0 1em;
}

/* line 49, src/static/scss/modules/_form.scss */
.ui.form .fields:last-child .field,
.ui.form :not(.fields) .field:last-child {
  margin-bottom: 0;
}

/*--------------------
        Labels
---------------------*/
/* line 59, src/static/scss/modules/_form.scss */
.ui.form .field > label {
  font-size: .7857em;
  font-weight: bold;
  display: block;
  margin: 0 0 .2857rem 0;
  text-transform: uppercase;
  color: #212121;
}

/* line 72, src/static/scss/modules/_form.scss */
.ui.form .grouped.fields > label {
  font-size: .7857em;
  font-weight: bold;
  margin: 0 0 .2857rem 0;
  text-transform: none;
  color: #212121;
}

/* line 83, src/static/scss/modules/_form.scss */
.ui.form .inline.fields > label {
  font-size: .7857em;
  font-weight: bold;
  display: inline-block;
  margin: 0 1em 0 0;
  vertical-align: middle;
  text-transform: uppercase;
  color: #212121;
}

/*--------------------
    Standard Inputs
---------------------*/
/* line 102, src/static/scss/modules/_form.scss */
.ui.form textarea,
.ui.form input[type='text'],
.ui.form input[type='email'],
.ui.form input[type='date'],
.ui.form input[type='datetime-local'],
.ui.form input[type='password'],
.ui.form input[type='number'],
.ui.form input[type='url'],
.ui.form input[type='tel'],
.ui.form .ui.input {
  width: 100%;
  vertical-align: top;
}

/* line 117, src/static/scss/modules/_form.scss */
.ui.form input[type='text'],
.ui.form input[type='email'],
.ui.form input[type='date'],
.ui.form input[type='datetime-local'],
.ui.form input[type='password'],
.ui.form input[type='number'],
.ui.form input[type='url'],
.ui.form input[type='tel'] {
  font-size: 1em;
  line-height: 1.2142em;
  margin: 0;
  padding: 0;
  -webkit-transition: background-color .2s ease, color .2s ease, box-shadow .2s ease, border-color .2s ease;
  transition: background-color .2s ease, color .2s ease, box-shadow .2s ease, border-color .2s ease;
  color: #212121;
  border: none;
  border-radius: 0;
  outline: none;
  background: transparent;
  box-shadow: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* line 146, src/static/scss/modules/_form.scss */
.ui.textarea,
.ui.form textarea {
  font-size: 1em;
  line-height: 1.2857;
  height: 12em;
  min-height: 8em;
  max-height: 24em;
  margin: 0;
  padding: 1em;
  resize: vertical;
  -webkit-transition: background-color .2s ease, color .2s ease, box-shadow .2s ease, border-color .2s ease;
  transition: background-color .2s ease, color .2s ease, box-shadow .2s ease, border-color .2s ease;
  color: #212121;
  border: 1px solid #ddd;
  border-radius: 0;
  outline: none;
  background: transparent;
  box-shadow: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* line 172, src/static/scss/modules/_form.scss */
.ui.form textarea,
.ui.form input[type='checkbox'] {
  vertical-align: top;
}

/*--------------------------
  Input w/ attached Button
---------------------------*/
/* line 182, src/static/scss/modules/_form.scss */
.ui.form input.attached {
  width: auto;
}

/*--------------------
     Basic Select
---------------------*/
/* line 191, src/static/scss/modules/_form.scss */
.ui.form select {
  display: block;
  width: 100%;
  height: auto;
  padding: .62em .5em;
  -webkit-transition: background-color .2s ease, color .2s ease, box-shadow .2s ease, border-color .2s ease;
  transition: background-color .2s ease, color .2s ease, box-shadow .2s ease, border-color .2s ease;
  color: #212121;
  border: none;
  border-radius: 0;
  background: #fff;
  box-shadow: none;
}

/*--------------------
       Dropdown
---------------------*/
/* line 213, src/static/scss/modules/_form.scss */
.ui.form .field > .selection.dropdown {
  width: 100%;
}

/* line 217, src/static/scss/modules/_form.scss */
.ui.form .field > .selection.dropdown > .dropdown.icon {
  float: right;
}

/* line 221, src/static/scss/modules/_form.scss */
.ui.form .inline.field > .selection.dropdown {
  width: auto;
}

/* line 225, src/static/scss/modules/_form.scss */
.ui.form .inline.field > .selection.dropdown > .dropdown.icon {
  float: none;
}

/*--------------------
       Dividers
---------------------*/
/* line 234, src/static/scss/modules/_form.scss */
.ui.form .divider {
  clear: both;
  margin: 1em 0;
}

/*--------------------
   Types of Messages
---------------------*/
/* line 245, src/static/scss/modules/_form.scss */
.ui.form .info.message,
.ui.form .success.message,
.ui.form .warning.message,
.ui.form .error.message {
  display: none;
}

/* Assumptions */
/* line 254, src/static/scss/modules/_form.scss */
.ui.form .message:first-child {
  margin-top: 0;
}

/*--------------------
   Validation Prompt
---------------------*/
/* line 263, src/static/scss/modules/_form.scss */
.ui.form .field .prompt.label {
  font-size: .8em;
  font-style: italic;
  white-space: nowrap;
}

/* line 270, src/static/scss/modules/_form.scss */
.ui.form .inline.field .prompt {
  margin: 0 0 0 1em;
}

/* line 274, src/static/scss/modules/_form.scss */
.ui.form .inline.field .prompt:before {
  top: 50%;
  right: auto;
  bottom: auto;
  left: 0;
  margin-top: -.3em;
}

/*******************************
            States
*******************************/
/*--------------------
      Placeholder
---------------------*/
/* browsers require these rules separate */
/* line 296, src/static/scss/modules/_form.scss */
.ui.form ::-webkit-input-placeholder {
  color: #adadad;
}

/* line 300, src/static/scss/modules/_form.scss */
.ui.form ::-moz-placeholder {
  color: #adadad;
}

/* line 304, src/static/scss/modules/_form.scss */
.ui.form :focus::-webkit-input-placeholder {
  color: #7a7a7a;
}

/* line 308, src/static/scss/modules/_form.scss */
.ui.form :focus::-moz-placeholder {
  color: #7a7a7a;
}

/* Error Placeholder */
/* line 314, src/static/scss/modules/_form.scss */
.ui.form .error ::-webkit-input-placeholder {
  color: #f77066;
}

/* line 318, src/static/scss/modules/_form.scss */
.ui.form .error ::-moz-placeholder {
  color: #f77066;
}

/* line 322, src/static/scss/modules/_form.scss */
.ui.form .error :focus::-webkit-input-placeholder {
  color: #f55a4e;
}

/* line 326, src/static/scss/modules/_form.scss */
.ui.form .error :focus::-moz-placeholder {
  color: #f55a4e;
}

/*--------------------
        Focus
---------------------*/
/* line 335, src/static/scss/modules/_form.scss */
.ui.form input[type='text']:focus,
.ui.form input[type='email']:focus,
.ui.form input[type='date']:focus,
.ui.form input[type='datetime-local']:focus,
.ui.form input[type='password']:focus,
.ui.form input[type='number']:focus,
.ui.form input[type='url']:focus,
.ui.form input[type='tel']:focus {
  color: rgba(0, 0, 0, 0.85);
  border-color: rgba(39, 41, 43, 0.3);
  border-radius: 0 0 0 0;
  background: transparent;
  box-shadow: 0 0 0 0 rgba(39, 41, 43, 0.3) inset;
}

/* line 350, src/static/scss/modules/_form.scss */
.ui.form textarea:focus {
  color: rgba(0, 0, 0, 0.85);
  border-color: rgba(39, 41, 43, 0.3);
  border-radius: 0 0 0 0;
  background: #eee;
  box-shadow: 0 0 0 0 rgba(39, 41, 43, 0.3) inset;
  -webkit-appearance: none;
}

/*--------------------
        Success
---------------------*/
/* On Form */
/* line 367, src/static/scss/modules/_form.scss */
.ui.form.success .success.message {
  display: block;
}

/*--------------------
        Error
---------------------*/
/* On Form */
/* line 378, src/static/scss/modules/_form.scss */
.ui.form.warning .warning.message {
  display: block;
}

/*--------------------
        Warning
---------------------*/
/* On Form */
/* line 389, src/static/scss/modules/_form.scss */
.ui.form.error .error.message {
  display: block;
}

/* On Field(s) */
/* line 395, src/static/scss/modules/_form.scss */
.ui.form .fields.error .field label,
.ui.form .field.error label,
.ui.form .fields.error .field .input,
.ui.form .field.error .input {
  color: #f44336;
}

/* line 402, src/static/scss/modules/_form.scss */
.ui.form .fields.error .field .corner.label,
.ui.form .field.error .corner.label {
  color: #fff;
  border-color: #f44336;
}

/* line 408, src/static/scss/modules/_form.scss */
.ui.form .fields.error .field textarea,
.ui.form .fields.error .field input[type='text'],
.ui.form .fields.error .field input[type='email'],
.ui.form .fields.error .field input[type='date'],
.ui.form .fields.error .field input[type='datetime-local'],
.ui.form .fields.error .field input[type='password'],
.ui.form .fields.error .field input[type='number'],
.ui.form .fields.error .field input[type='url'],
.ui.form .fields.error .field input[type='tel'],
.ui.form .field.error textarea,
.ui.form .field.error input[type='text'],
.ui.form .field.error input[type='email'],
.ui.form .field.error input[type='date'],
.ui.form .field.error input[type='datetime-local'],
.ui.form .field.error input[type='password'],
.ui.form .field.error input[type='number'],
.ui.form .field.error input[type='url'],
.ui.form .field.error input[type='tel'] {
  color: #f44336;
  border-color: #dbb1b1;
  border-radius: 0 0 0 0;
  background: #fff0f0;
  box-shadow: 0 0 0 0 #f44336 inset;
}

/* line 433, src/static/scss/modules/_form.scss */
.ui.form .field.error textarea:focus,
.ui.form .field.error input[type='text']:focus,
.ui.form .field.error input[type='email']:focus,
.ui.form .field.error input[type='date']:focus,
.ui.form .field.error input[type='datetime-local']:focus,
.ui.form .field.error input[type='password']:focus,
.ui.form .field.error input[type='number']:focus,
.ui.form .field.error input[type='url']:focus,
.ui.form .field.error input[type='tel']:focus {
  color: #f55145;
  border-color: #dbb1b1;
  background: #fff0f0;
  box-shadow: 0 0 0 0 #f55145 inset;
  -webkit-appearance: none;
}

/*------------------
    Dropdown Error
--------------------*/
/* line 455, src/static/scss/modules/_form.scss */
.ui.form .fields.error .field .ui.dropdown,
.ui.form .fields.error .field .ui.dropdown .item,
.ui.form .field.error .ui.dropdown,
.ui.form .field.error .ui.dropdown .text,
.ui.form .field.error .ui.dropdown .item {
  color: #f44336;
  background: #fff0f0;
}

/* line 464, src/static/scss/modules/_form.scss */
.ui.form .fields.error .field .ui.dropdown,
.ui.form .field.error .ui.dropdown {
  border-color: #dbb1b1 !important;
}

/* line 469, src/static/scss/modules/_form.scss */
.ui.form .fields.error .field .ui.dropdown:hover,
.ui.form .field.error .ui.dropdown:hover {
  border-color: #dbb1b1 !important;
}

/* line 474, src/static/scss/modules/_form.scss */
.ui.form .fields.error .field .ui.dropdown:hover .menu,
.ui.form .field.error .ui.dropdown:hover .menu {
  border-color: #dbb1b1;
}

/* Hover */
/* line 481, src/static/scss/modules/_form.scss */
.ui.form .fields.error .field .ui.dropdown .menu .item:hover,
.ui.form .field.error .ui.dropdown .menu .item:hover {
  background-color: #fff2f2;
}

/* Active */
/* line 488, src/static/scss/modules/_form.scss */
.ui.form .fields.error .field .ui.dropdown .menu .active.item,
.ui.form .field.error .ui.dropdown .menu .active.item {
  background-color: #fdcfcf !important;
}

/*--------------------
    Checkbox Error
---------------------*/
/* line 498, src/static/scss/modules/_form.scss */
.ui.form .fields.error .field .checkbox:not(.toggle):not(.slider) label,
.ui.form .field.error .checkbox:not(.toggle):not(.slider) label,
.ui.form .fields.error .field .checkbox:not(.toggle):not(.slider) .box,
.ui.form .field.error .checkbox:not(.toggle):not(.slider) .box {
  color: #f44336;
}

/* line 505, src/static/scss/modules/_form.scss */
.ui.form .fields.error .field .checkbox:not(.toggle):not(.slider) label:before,
.ui.form .field.error .checkbox:not(.toggle):not(.slider) label:before,
.ui.form .fields.error .field .checkbox:not(.toggle):not(.slider) .box:before,
.ui.form .field.error .checkbox:not(.toggle):not(.slider) .box:before {
  border-color: #dbb1b1;
  background: #fff0f0;
}

/* line 513, src/static/scss/modules/_form.scss */
.ui.form .fields.error .field .checkbox label:after,
.ui.form .field.error .checkbox label:after,
.ui.form .fields.error .field .checkbox .box:after,
.ui.form .field.error .checkbox .box:after {
  color: #f44336;
}

/*--------------------
       Disabled
---------------------*/
/* line 525, src/static/scss/modules/_form.scss */
.ui.form .field :disabled,
.ui.form .field.disabled {
  opacity: .5;
}

/* line 530, src/static/scss/modules/_form.scss */
.ui.form .field.disabled label {
  opacity: .5;
}

/* line 534, src/static/scss/modules/_form.scss */
.ui.form .field.disabled :disabled {
  opacity: 1;
}

/*--------------
    Loading
---------------*/
/* line 543, src/static/scss/modules/_form.scss */
.ui.loadings.form {
  position: relative;
  z-index: 100;
  cursor: default;
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
  color: transparent !important;
  text-shadow: none !important;
  point-events: none;
}

/* line 557, src/static/scss/modules/_form.scss */
.ui.loadings.form:before {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: rgba(255, 255, 255, 0.8);
}

/* line 571, src/static/scss/modules/_form.scss */
.ui.loadings.form:after {
  position: absolute;
  z-index: 101;
  top: 50%;
  left: 50%;
  visibility: visible;
  width: 3em;
  height: 3em;
  margin: -1.5em 0 0 -1.5em;
  content: '';
  -webkit-animation: form-spin .6s linear;
  animation: form-spin .6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-width: .2em;
  border-style: solid;
  border-color: #aaa rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
  border-radius: 500rem;
  box-shadow: 0 0 0 1px transparent;
}

@-webkit-keyframes form-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes form-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*******************************
         Element Types
*******************************/
/*--------------------
     Required Field
---------------------*/
/* line 633, src/static/scss/modules/_form.scss */
.ui.form .required.fields > .field > label:after,
.ui.form .required.field > label:after,
.ui.form .required.fields > .field > .checkbox:after,
.ui.form .required.field > .checkbox:after {
  margin: -.2em 0 0 .2em;
  content: '*';
  color: #f44336;
}

/* line 644, src/static/scss/modules/_form.scss */
.ui.form .required.fields > .field > label:after,
.ui.form .required.field > label:after {
  display: inline-block;
  vertical-align: top;
}

/* line 651, src/static/scss/modules/_form.scss */
.ui.form .required.fields > .field > .checkbox:after,
.ui.form .required.field > .checkbox:after {
  position: absolute;
  top: 0;
  left: 100%;
}

/*******************************
           Variations
*******************************/
/*--------------------
    Inverted Colors
---------------------*/
/* line 669, src/static/scss/modules/_form.scss */
.ui.inverted.form label,
.ui.form .inverted.segment label,
.ui.form .inverted.segment .ui.checkbox label,
.ui.form .inverted.segment .ui.checkbox .box,
.ui.inverted.form .ui.checkbox label,
.ui.inverted.form .ui.checkbox .box {
  color: #fff;
}

/*--------------------
     Field Groups
---------------------*/
/* Grouped Vertically */
/* line 685, src/static/scss/modules/_form.scss */
.ui.form .grouped.fields {
  margin: 0 0 1em;
}

/* line 689, src/static/scss/modules/_form.scss */
.ui.form .grouped.fields:last-child {
  margin-bottom: 0;
}

/* line 693, src/static/scss/modules/_form.scss */
.ui.form .grouped.fields > label {
  font-size: .7857em;
}

/* line 697, src/static/scss/modules/_form.scss */
.ui.form .grouped.fields .field {
  display: block;
  float: none;
  margin: .5em 0;
  padding: 0;
}

/*--------------------
        Fields
---------------------*/
/* Split fields */
/* line 712, src/static/scss/modules/_form.scss */
.ui.form .fields {
  clear: both;
}

/* line 716, src/static/scss/modules/_form.scss */
.ui.form .fields:after {
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ' ';
}

/* line 728, src/static/scss/modules/_form.scss */
.ui.form .fields > .field {
  float: left;
  clear: none;
  padding-right: .75em;
  padding-left: .75em;
}

/* line 736, src/static/scss/modules/_form.scss */
.ui.form .fields > .field:first-child {
  border-left: none;
  box-shadow: none;
}

/* Other Combinations */
/* line 743, src/static/scss/modules/_form.scss */
.ui.form .two.fields > .fields,
.ui.form .two.fields > .field {
  width: 48%;
}

/* line 748, src/static/scss/modules/_form.scss */
.ui.form .three.fields > .fields,
.ui.form .three.fields > .field {
  width: 31%;
}

/* line 753, src/static/scss/modules/_form.scss */
.ui.form .four.fields > .fields,
.ui.form .four.fields > .field {
  width: 25%;
}

/* line 758, src/static/scss/modules/_form.scss */
.ui.form .five.fields > .fields,
.ui.form .five.fields > .field {
  width: 20%;
}

/* line 763, src/static/scss/modules/_form.scss */
.ui.form .six.fields > .fields,
.ui.form .six.fields > .field {
  width: 16.66666667%;
}

/* line 768, src/static/scss/modules/_form.scss */
.ui.form .seven.fields > .fields,
.ui.form .seven.fields > .field {
  width: 14.28571429%;
}

/* line 773, src/static/scss/modules/_form.scss */
.ui.form .eight.fields > .fields,
.ui.form .eight.fields > .field {
  width: 12.5%;
}

/* line 778, src/static/scss/modules/_form.scss */
.ui.form .nine.fields > .fields,
.ui.form .nine.fields > .field {
  width: 11.11111111%;
}

/* line 783, src/static/scss/modules/_form.scss */
.ui.form .ten.fields > .fields,
.ui.form .ten.fields > .field {
  width: 10%;
}

/* Swap to full width on mobile */
@media only screen and (max-width: 767px) {
  /* line 792, src/static/scss/modules/_form.scss */
  .ui.form .two.fields > .fields,
  .ui.form .two.fields > .field,
  .ui.form .three.fields > .fields,
  .ui.form .three.fields > .field,
  .ui.form .four.fields > .fields,
  .ui.form .four.fields > .field,
  .ui.form .five.fields > .fields,
  .ui.form .five.fields > .field {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}
/* line 806, src/static/scss/modules/_form.scss */
.ui.form .fields .field:first-child {
  padding-left: 0;
}

/* line 810, src/static/scss/modules/_form.scss */
.ui.form .fields .field:last-child {
  padding-right: 0;
}

/* Sizing Combinations */
/* line 816, src/static/scss/modules/_form.scss */
.ui.form .fields .wide.field {
  width: 6.25%;
  padding-right: .75em;
  padding-left: .75em;
}

/* line 822, src/static/scss/modules/_form.scss */
.ui.form .fields .wide.field:first-child {
  padding-left: 0;
}

/* line 826, src/static/scss/modules/_form.scss */
.ui.form .fields .wide.field:last-child {
  padding-right: 0;
}

/* line 830, src/static/scss/modules/_form.scss */
.ui.form .one.wide.field {
  width: 6.25% !important;
}

/* line 834, src/static/scss/modules/_form.scss */
.ui.form .two.wide.field {
  width: 12.5% !important;
}

/* line 838, src/static/scss/modules/_form.scss */
.ui.form .three.wide.field {
  width: 18.75% !important;
}

/* line 842, src/static/scss/modules/_form.scss */
.ui.form .four.wide.field {
  width: 25% !important;
}

/* line 846, src/static/scss/modules/_form.scss */
.ui.form .five.wide.field {
  width: 31.25% !important;
}

/* line 850, src/static/scss/modules/_form.scss */
.ui.form .six.wide.field {
  width: 37.5% !important;
}

/* line 854, src/static/scss/modules/_form.scss */
.ui.form .seven.wide.field {
  width: 43.75% !important;
}

/* line 858, src/static/scss/modules/_form.scss */
.ui.form .eight.wide.field {
  width: 50% !important;
}

/* line 862, src/static/scss/modules/_form.scss */
.ui.form .nine.wide.field {
  width: 56.25% !important;
}

/* line 866, src/static/scss/modules/_form.scss */
.ui.form .ten.wide.field {
  width: 62.5% !important;
}

/* line 870, src/static/scss/modules/_form.scss */
.ui.form .eleven.wide.field {
  width: 68.75% !important;
}

/* line 874, src/static/scss/modules/_form.scss */
.ui.form .twelve.wide.field {
  width: 75% !important;
}

/* line 878, src/static/scss/modules/_form.scss */
.ui.form .thirteen.wide.field {
  width: 81.25% !important;
}

/* line 882, src/static/scss/modules/_form.scss */
.ui.form .fourteen.wide.field {
  width: 87.5% !important;
}

/* line 886, src/static/scss/modules/_form.scss */
.ui.form .fifteen.wide.field {
  width: 93.75% !important;
}

/* line 890, src/static/scss/modules/_form.scss */
.ui.form .sixteen.wide.field {
  width: 100% !important;
}

/* Swap to full width on mobile */
@media only screen and (max-width: 767px) {
  /* line 898, src/static/scss/modules/_form.scss */
  .ui.form .two.fields > .fields,
  .ui.form .two.fields > .field,
  .ui.form .three.fields > .fields,
  .ui.form .three.fields > .field,
  .ui.form .four.fields > .fields,
  .ui.form .four.fields > .field,
  .ui.form .five.fields > .fields,
  .ui.form .five.fields > .field,
  .ui.form .fields > .two.wide.field,
  .ui.form .fields > .three.wide.field,
  .ui.form .fields > .four.wide.field,
  .ui.form .fields > .five.wide.field,
  .ui.form .fields > .six.wide.field,
  .ui.form .fields > .seven.wide.field,
  .ui.form .fields > .eight.wide.field,
  .ui.form .fields > .nine.wide.field,
  .ui.form .fields > .ten.wide.field,
  .ui.form .fields > .eleven.wide.field,
  .ui.form .fields > .twelve.wide.field,
  .ui.form .fields > .thirteen.wide.field,
  .ui.form .fields > .fourteen.wide.field,
  .ui.form .fields > .fifteen.wide.field,
  .ui.form .fields > .sixteen.wide.field {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}
/*--------------------
    Inline Fields
---------------------*/
/* line 932, src/static/scss/modules/_form.scss */
.ui.form .inline.fields {
  margin: 0 0 1em;
}

/* line 936, src/static/scss/modules/_form.scss */
.ui.form .inline.fields .field {
  display: inline-block;
  float: none;
  margin: 0 1em 0 0;
  padding: 0;
}

/* line 944, src/static/scss/modules/_form.scss */
.ui.form .inline.fields .field > label,
.ui.form .inline.fields .field > p,
.ui.form .inline.fields .field > input,
.ui.form .inline.field > label,
.ui.form .inline.field > p,
.ui.form .inline.field > input {
  font-size: .7857em;
  display: inline-block;
  width: auto;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

/* line 961, src/static/scss/modules/_form.scss */
.ui.form .inline.fields .field > input,
.ui.form .inline.field > input {
  font-size: 1em;
}

/* line 967, src/static/scss/modules/_form.scss */
.ui.form .inline.fields .field > .ui.checkbox label {
  padding-left: 1.75em;
}

/* Label */
/* line 973, src/static/scss/modules/_form.scss */
.ui.form .inline.fields .field > :first-child,
.ui.form .inline.field > :first-child {
  margin: 0 .2857rem 0 0;
}

/* line 978, src/static/scss/modules/_form.scss */
.ui.form .inline.fields .field > :only-child,
.ui.form .inline.field > :only-child {
  margin: 0;
}

/*--------------------
        Sizes
---------------------*/
/* Standard */
/* line 990, src/static/scss/modules/_form.scss */
.ui.small.form {
  font-size: .875em;
}

/* Medium */
/* line 996, src/static/scss/modules/_form.scss */
.ui.form {
  font-size: auto;
}

/* Large */
/* line 1002, src/static/scss/modules/_form.scss */
.ui.large.form {
  font-size: 1.125em;
}

/* Huge */
/* line 1008, src/static/scss/modules/_form.scss */
.ui.huge.form {
  font-size: 1.2em;
}

/*******************************
           Overrides
*******************************/
/* line 1018, src/static/scss/modules/_form.scss */
.ui.form input[type='text'],
.ui.form input[type='email'],
.ui.form input[type='date'],
.ui.form input[type='password'],
.ui.form input[type='number'],
.ui.form input[type='url'],
.ui.form input[type='tel'] {
  border-bottom: 1px solid #ddd;
}

/* line 1028, src/static/scss/modules/_form.scss */
.ui.form .selection.dropdown {
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0 !important;
  box-shadow: none !important;
}

/* line 1035, src/static/scss/modules/_form.scss */
.ui.form .ui.icon.input > .icon {
  width: 1em;
}

/*******************************
         Site Overrides
*******************************/
/* Fonts
   ========================================================================== */
/* Defaults  ========================================================================== */
/* line 13, src/static/scss/_base.scss */
html {
  height: 100%;
}

/* line 17, src/static/scss/_base.scss */
body {
  min-width: 430px;
  height: 100%;
  color: #292f33;
  background: #fff;
}

/* line 32, src/static/scss/_base.scss */
body:before {
  float: left;
  width: 0;
  height: 100%;
  margin-top: -32767px;
  content: '';
}

/* line 43, src/static/scss/_base.scss */
.wrap {
  min-height: 100%;
  margin-top: -24px;
  margin-bottom: 46px;
}

/* line 52, src/static/scss/_base.scss */
.ui.segment {
  border-radius: 0;
  box-shadow: none;
}

/* line 57, src/static/scss/_base.scss */
.ui.segment.border {
  box-shadow: 0 0 0 1px rgba(39, 41, 43, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

/* line 61, src/static/scss/_base.scss */
.ui.grid {
  margin: 0;
}

/* line 65, src/static/scss/_base.scss */
.padding-reset {
  padding: 0 !important;
}

/* line 69, src/static/scss/_base.scss */
img.pure-img {
  display: inline;
  max-width: 60%;
  vertical-align: middle;
}

/* line 77, src/static/scss/_base.scss */
code {
  color: #ef413d;
}

/* line 81, src/static/scss/_base.scss */
.pure-menu.pure-menu-horizontal {
  background: #fff;
}

/* line 85, src/static/scss/_base.scss */
.pure-menu {
  font-size: 90%;
}
/* line 88, src/static/scss/_base.scss */
.pure-menu .pure-menu-heading {
  margin-top: 2px;
  border: 0;
}

/* line 95, src/static/scss/_base.scss */
a {
  line-height: inherit;
  text-decoration: none;
  color: #0074d9;
}
/* line 102, src/static/scss/_base.scss */
a:focus, a:hover {
  color: #005bab;
}

/* line 108, src/static/scss/_base.scss */
a.pure-button:focus,
a.pure-button:hover {
  color: #fff;
}

/* line 115, src/static/scss/_base.scss */
pre code {
  display: block;
  padding: .5em;
  color: #111;
  border-width: 1px;
  border-style: solid;
  border-color: #aaa;
  background-color: #ddd;
}

/* line 128, src/static/scss/_base.scss */
.pure-button {
  border-radius: 1px;
}

/* line 132, src/static/scss/_base.scss */
.bg-blue {
  color: #fff;
  background: #3b5998;
}

/* line 137, src/static/scss/_base.scss */
.bg-ligh-blue {
  color: #fff;
  background: #26c4f1;
}

/* line 142, src/static/scss/_base.scss */
.bg-red {
  color: #fff;
  background: #ce2616;
}

/* line 147, src/static/scss/_base.scss */
.bg-ist {
  width: 84px;
  color: #000;
  background: #df7514;
}

/* line 154, src/static/scss/_base.scss */
.line-first {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #aaa;
}

/* line 161, src/static/scss/_base.scss */
.jbo-pr {
  text-align: right;
}

/* line 165, src/static/scss/_base.scss */
.jbo-pl {
  text-align: left;
}

/* line 169, src/static/scss/_base.scss */
.jbo-pj {
  text-align: justify;
}

/* line 173, src/static/scss/_base.scss */
.img_left {
  float: left;
  margin-top: 3px;
  margin-right: 14px;
  margin-bottom: 14px;
}

/* line 181, src/static/scss/_base.scss */
.img_right {
  float: right;
  margin-top: 3px;
  margin-bottom: 14px;
  margin-left: 14px;
}

/* line 190, src/static/scss/_base.scss */
.subscribe--error {
  width: 100%;
  margin: 0 1px 0 0;
  padding: 2px 5px 2px 5px;
}

/* Header  ========================================================================== */
/* line 198, src/static/scss/_base.scss */
header {
  height: 40px;
}

/* Footer  ========================================================================== */
/* line 203, src/static/scss/_base.scss */
footer {
  position: relative;
  clear: both;
  height: 46px;
  margin-top: -46px;
}

/* Form  ========================================================================== */
/* line 213, src/static/scss/_base.scss */
.ui.form .field {
  margin: 1em 0 1em;
}

/* line 217, src/static/scss/_base.scss */
.ui.form .field > label {
  margin: 0 0 .5rem 0;
}

/* line 221, src/static/scss/_base.scss */
#cat-button-submit-login-element {
  margin-top: 1em;
}

/* Auth  ========================================================================== */
/* line 226, src/static/scss/_base.scss */
.parent {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 232, src/static/scss/_base.scss */
.child {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}



/*# sourceMappingURL=/main.css.map */