/* Fonts
   ========================================================================== */
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
// @include font-face("Open Sans", "Open Sans", "OpenSans", "opensans-regular", "normal", "normal");
// @include font-face("Open Sans", "Open Sans Italic", "OpenSans-Italic", "opensans-italic", "normal", "italic");

// @include font-face("OpenSansCondensed", "Open Sans Cond Light", "OpenSans-CondensedLight", "open_sans_condensed_light", 300, "normal");
// @include font-face("OpenSansCondensedBold", "Open Sans Condensed Bold", "OpenSans-CondensedBold", "opensans-condbold", 700, "normal");
// @include font-face("OpenSansCondensedItalic", "Open Sans Cond Light Italic", "OpenSans-CondensedLightItalic", "opensans-condlightitalic", 300, "italic");


/* Defaults  ========================================================================== */
html
{
    height: 100%;
}
body
{
    // background: $fuchsia;
    min-width: $min-width;
    height: 100%;

    color: $color;
    background: $color-bg;
    // margin: 0;
    // padding: 0;
    // -webkit-font-smoothing: subpixel-antialiased !important;
    // -webkit-backface-visibility: hidden;
    // -moz-backface-visibility:    hidden;
    // -ms-backface-visibility:     hidden;
}
body:before
{
    float: left;

    width: 0;
    height: 100%;
    margin-top: -32767px;

    content: '';
}

.wrap
{
    min-height: 100%;
    // padding: 0px 0 0px 0;
    margin-top: -24px;
    margin-bottom: $header-footer;
    // margin-bottom: -$header-footer - 14px;
}

.ui.segment
{
    border-radius: 0;
    box-shadow: none;
}
.ui.segment.border
{
    box-shadow: 0 0 0 1px rgba(39,41,43,.15),0 1px 2px 0 rgba(0,0,0,.05);
}
.ui.grid
{
    margin: 0;
}
.padding-reset
{
    padding: 0 !important;
}
img.pure-img
{
    display: inline;

    max-width: 60%;

    vertical-align: middle;
}
code
{
    color: $red;
}
.pure-menu.pure-menu-horizontal
{
    background: $white;
}
.pure-menu
{
    font-size: 90%;
    .pure-menu-heading
    {
        margin-top: 2px;

        border: 0;
    }
}
a
{
    line-height: inherit;

    text-decoration: none;

    color: $blue;
    &:focus,
    &:hover
    {
        color: darken($blue, 9);
    }
}
a.pure-button:focus,
a.pure-button:hover
{
    color: #fff;
}
pre
{
    code
    {
        display: block;

        padding: .5em;

        color: $black;
        border-width: 1px;
        border-style: solid;
        border-color: $gray;
        background-color: $silver;
    }
}
.pure-button
{
    border-radius: 1px;
}
.bg-blue
{
    color: $white;
    background: $colors-blue;
}
.bg-ligh-blue
{
    color: $white;
    background: $colors-ligh-blue;
}
.bg-red
{
    color: $white;
    background: $colors-red;
}
.bg-ist
{
    width: 84px;

    color: #000;
    background: rgb(223, 117, 20);
}
.line-first
{
    margin-bottom: 10px;
    padding-bottom: 5px;

    border-bottom: 1px solid $gray;
}
.jbo-pr
{
    text-align: right;
}
.jbo-pl
{
    text-align: left;
}
.jbo-pj
{
    text-align: justify;
}
.img_left
{
    float: left;

    margin-top: 3px;
    margin-right: 14px;
    margin-bottom: 14px;
}
.img_right
{
    float: right;

    margin-top: 3px;
    margin-bottom: 14px;
    margin-left: 14px;
}

.subscribe--error
{
    width: 100%;
    margin: 0 1px 0 0;
    padding: 2px 5px 2px 5px;
}

/* Header  ========================================================================== */
header
{
    height: $header-heigh;
}
/* Footer  ========================================================================== */
footer
{
    position: relative;

    clear: both;

    height: $header-footer;
    margin-top: -$header-footer;
}
/* Form  ========================================================================== */
.ui.form .field
{
    margin: 1em 0 1em;
}
.ui.form .field > label
{
    margin: 0 0 .5rem 0;
}
#cat-button-submit-login-element
{
    margin-top: 1em;
}
/* Auth  ========================================================================== */
.parent
{
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.child
{
    position: relative;
    top: 50%;

    transform: translateY(-50%);
}
