.ui
{
    &.segment {
    border-radius: 0;
    box-shadow: none;
    &.border
    {
        box-shadow: 0 0 0 1px rgba(39,41,43,.15),0 1px 2px 0 rgba(0,0,0,.05);
    }
    }
}
.ui.grid
{
    margin: 0;
}
.padding-reset
{
    padding: 0 !important;
}
img.pure-img
{
    display: inline;

    max-width: 60%;

    vertical-align: middle;
}
code
{
    color: $red;
}
.pure-menu.pure-menu-horizontal
{
    background: $white;
}
.pure-menu
{
    font-size: 90%;
    .pure-menu-heading
    {
        margin-top: 2px;

        border: 0;
    }
}
a
{
    line-height: inherit;

    text-decoration: none;

    color: $blue;
    &:focus,
    &:hover
    {
        color: darken($blue, 9);
    }
}
a.pure-button:focus,
a.pure-button:hover
{
    color: #fff;
}
pre
{
    code
    {
        display: block;

        padding: .5em;

        color: $black;
        border-width: 1px;
        border-style: solid;
        border-color: $gray;
        background-color: $silver;
    }
}
.pure-button
{
    border-radius: 1px;
}
.bg-blue
{
    color: $white;
    background: $colors-blue;
}
.bg-ligh-blue
{
    color: $white;
    background: $colors-ligh-blue;
}
.bg-red
{
    color: $white;
    background: $colors-red;
}
.bg-ist
{
    width: 84px;

    color: #000;
    background: rgb(223, 117, 20);
}
.line-first
{
    margin-bottom: 10px;
    padding-bottom: 5px;

    border-bottom: 1px solid $gray;
}
.jbo-pr
{
    text-align: right;
}
.jbo-pl
{
    text-align: left;
}
.jbo-pj
{
    text-align: justify;
}
.img_left
{
    float: left;

    margin-top: 3px;
    margin-right: 14px;
    margin-bottom: 14px;
}
.img_right
{
    float: right;

    margin-top: 3px;
    margin-bottom: 14px;
    margin-left: 14px;
}

.subscribe--error
{
    width: 100%;
    margin: 0 1px 0 0;
    padding: 2px 5px 2px 5px;
}

/* Form  ========================================================================== */
.ui.form .field
{
    margin: 1em 0 1em;
}
.ui.form .field > label
{
    margin: 0 0 .5rem 0;
}
#cat-button-submit-login-element
{
    margin-top: 1em;
}
/* Auth  ========================================================================== */
.parent
{
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.child
{
    position: relative;
    top: 50%;

    transform: translateY(-50%);
}
