%center
{
    margin-right: auto;
    margin-left: auto;
}

%text-center
{
    text-align: center;
}

%clearfix
{
    &::before,
    &::after
    {
        display: table;

        content: '';
    }
    &::after
    {
        clear: both;
    }
}

%menu-icon {
    content: '\2261';
    position: absolute;
    right: .25em;
    top: 0;
    // content: "\2261";
    font-size: $font-size;
}

.text-center
{
    @extend %text-center;
}

.show
{
    display: block !important;
}
.hidden
{
    display: none !important;
    visibility: hidden !important;
}
.invisible
{
    visibility: hidden;
}
