/*
inspired by:
https://github.com/minamarkham/sassy-starter/
https://github.com/kachunchau/smacss-boilerplate
https://github.com/davidrapson/scss-toolkit
*/
@import 'settings', 'mixins', 'helpers';
@import 'normalize', 'layouts/base';

.loading
{
    @include loading;
}

.home--bg
{
    // background-size: cover;
    position: absolute;
    top: 0;

    width: 100%;
    // left: 0;
    // z-index: -1;
    min-height: 400px;
    margin: 0;

    background: transparent url('../images/bg1.jpg') top center no-repeat fixed;

    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg1.jpg');
}

// .ui.huge.message
.ui
{
    &.huge
    {
        &.message
        {
            margin-top: $header-heigh;

            color: $white;
            // font-size: 1.5em;
            background: none;
            box-shadow: none;
            // text-align: center;
        }
        &.header
        {
            color: $white;
        }
    }
}
