/*
 * CSS Modal Plugin for displaying an image gallery
 *
 * @author Jonathan Weiß
 * @date 2014-05-16
 */
$gallery--min-size: 98px;
$gallery--thumb-size: 98px;

@mixin arrow-position
{
    &:after
    {
        font-size: 64px;
        line-height: 32px;

        position: absolute;
        top: 50%;

        height: 32px;
        margin-top: -24px;
        padding: 0 8px;

        opacity: 0;
    }

    &:hover,
    &:focus,
    &:active
    {
        &:after
        {
            opacity: 1;
        }
    }

    // Show on mobile
    @media screen and (max-width: $modal-small-breakpoint)
    {
        &:after
        {
            opacity: 1;
        }
    }
}

.modal-detail
{
    position: relative;

    width: 0;
    min-width: $gallery--min-size;
    height: 0;
    min-height: $gallery--min-size;

    -webkit-transition: opacity 0s;
            transition: opacity 0s;

    opacity: 0;

    &.is-active
    {
        width: auto;
        height: auto;

        -webkit-transition: opacity .2s ease-out;
                transition: opacity .2s ease-out;

        opacity: 1;
    }
}

.modal--gallery
{
    @extend %modal--transition-fade;

    .modal-content-list
    {
        display: none;
        overflow: hidden;

        margin: .2em -.2em -.2em;
        padding: 0;

        list-style: none;

        &.is-active
        {
            display: block;
        }

        > li
        {
            float: left;

            padding: .2em;
        }

        img
        {
            display: block;

            border: 0;
        }
    }
}

.modal--gallery-navigation
{
    margin: 0;
    padding: 0;

    list-style: none;

    a
    {
        font-family: arial, sans-serif;

        position: absolute;
        top: 0;
        bottom: 0;

        overflow: hidden;

        width: 50%;

        text-decoration: none;
        text-indent: -99em;

        text-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }

    img
    {
        max-width: $gallery--thumb-size;
        max-height: $gallery--thumb-size;
    }

    .modal--gallery-navigation-prev
    {
        left: 0;

        @include arrow-position;

        &:after
        {
            left: 0;

            content: '‹';
            text-indent: 0;
        }
    }

    .modal--gallery-navigation-next
    {
        right: 0;

        @include arrow-position;

        &:after
        {
            right: 0;

            content: '›';
            text-indent: 0;
        }
    }
}

/**
 * Caption
 */
.modal--gallery-caption
{
    border-bottom: 1px solid $modal-border-color;

    p
    {
        margin: 1em 15px;
    }
}
