.hlist
{
    padding: 0 0 2em 0;

    list-style: none;

    @extend %text-center;
    @include box-reset();
    > li
    {
        display: inline-block;

        margin-left: 1em;
        a.tweet
        {
            position: relative;
            top: -3px;
        }
    }
}
