// Prevent overflow on HTML element
html
{
    overflow-y: scroll;
}


.has-overlay
{
    overflow: hidden;

    > body
    {
        overflow-y: scroll;

        height: 100%;
    }


    @media screen and (max-width: $modal-small-breakpoint)
    {
        > body
        {
            overflow: hidden;
        }
    }
}


%modal
{
    // Maintain a fixed position
    position: fixed;
    z-index: $modal-layer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // Internet Explorer 8

    display: none\9;
    overflow: hidden;

    width: 0;
    height: 0;
    // Hide initially

    -webkit-transform: translate(0, 100%);
    -webkit-transform: translate3d(0, 100%, 0); // iOS
       -moz-transform: translate(0, 100%);
        -ms-transform: translate(0, 100%);
         -o-transform: translate(0, 100%);
            transform: translate(0, 100%);
            transform: translate3d(0, 100%, 0);

    opacity: 0;


    // Show modal when requested
    &:target,
    &.is-active
    {
        width: auto;
        height: auto;

        -webkit-transform: translate(0, 0);
           -moz-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
             -o-transform: translate(0, 0);
                transform: translate(0, 0);

        opacity: 1;
    }


    &.is-active
    {
        display: block\9;

        width: 100%\9;
        height: 100%\9;
    }


    // Overwrite IE8 hack for IE9 and IE10
    &:target,
    &.is-active
    {
        display: block\9;
    }


    // Content Area
    .modal-inner
    {
        position: absolute;
        z-index: 20;
        top: 50px;
        left: 50%;

        overflow-x: hidden;

        width: $modal-max-width;
        margin-left: ($modal-max-width / 2) * -1;

        -webkit-overflow-scrolling: touch; // Native style momentum scrolling

        // This removes the scrollbar in lt IE9
        @media \0screen\,screen\9
        {
            background: transparent;
        }

        > img,
        > video,
        > iframe
        {
            width: 100%;
            height: auto;
            min-height: 300px;
        }

        > img
        {
            width: auto;
            max-width: 100%;
        }
    }


    // Content
    .modal-content
    {
        position: relative;

        overflow-x: hidden;
        overflow-y: auto;

        max-height: 400px;
        max-height: 80vh;

        -webkit-overflow-scrolling: touch;

        // This removes the scrollbar in lt IE9
        @media \0screen\,screen\9
        {
            overflow: visible;
        }

        > *
        {
            max-width: 100%;
        }
    }


    // Footer
    footer
    {
        padding: 0 1.2em 18px;

        border-top: 1px solid lighten($modal-border-color, 20);
        border-radius: 2px;
        background: #f0f0f0;
    }


    // A close button
    .modal-close
    {
        display: block;
        overflow: hidden;
        clip: rect(0 0 0 0);

        height: 1px; // Prevent close element to appear
        margin: -1px;

        &:focus:after
        {
            outline: 1px dotted;
            outline: -webkit-focus-ring-color auto 5px;
        }

        // Background as close
        &:before
        {
            position: absolute;
            z-index: 10;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            content: '';
        }


        // Actual close button on modal
        // &:after {
        // 	content: '\00d7';
        // 	position: absolute;
        // 	top: 25px;
        // 	right: 50%;
        // 	z-index: 20;
        // 	margin-right: -($modal-max-width / 2);
        // }
    }


    // When screen isn't as wide as the modal anymore
    @media screen and (max-width: $modal-max-width + 40)
    {
        .modal-inner
        {
            right: 20px;
            left: 20px;

            width: auto;
            margin-left: 0;
        }

        .modal-close
        {
            &:after
            {
                right: 20px;

                margin-right: 0 !important;
            }
        }
    }


    // For small screens adjust the modal
    @media screen and (max-width: $modal-small-breakpoint)
    {
        bottom: auto;

        display: block;

        -webkit-transition: opacity 1ms .25s;
           -moz-transition: opacity 1ms .25s;
            -ms-transition: opacity 1ms .25s;
             -o-transition: opacity 1ms .25s;
                transition: opacity 1ms .25s;
        -webkit-transform: translate(0, 400px); // Use px to work around Android 2.3 bug
        -webkit-transform: translate3d(0, 100%, 0); // And overwrite px if 3D transforms are supported
                transform: translate3d(0, 100%, 0);

        &:target,
        &.is-active
        {
            height: 100%;
        }


        &:before
        {
            position: fixed;
            z-index: 30;
            top: 0;
            right: 0;
            left: 0;

            content: '';
        }


        .modal-inner
        {
            top: 0;
            right: 0;
            left: 0;

            overflow: auto;

            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                    box-sizing: border-box;
            height: 100%;
        }


        .modal-content
        {
            max-height: none;

                word-break: break-word;
            // Prevent text from breaking modal in mobile view
            -ms-word-break: break-all;
            -webkit-hyphens: auto;
               -moz-hyphens: auto;
                    hyphens: auto;
        }


        .modal-close
        {
            right: auto;

            &:before
            {
                display: none;
            }

            &:after
            {
                z-index: 40;
                top: 5px !important;
                right: 5px;
                left: auto;

                margin-left: 0;
            }
        }
    }


    // For small heights
    @media screen and (max-height: 46em) and (min-width: $modal-small-breakpoint)
    {
        .modal-content
        {
            max-height: 340px;
            max-height: 50vh;
        }
    }


    @media screen and (max-height: 36em) and (min-width: $modal-small-breakpoint)
    {
        .modal-content
        {
            max-height: 265px;
            max-height: 40vh;
        }
    }


    // Stackable Modals
    &.is-stacked
    {
        -webkit-transform: translate(0, 0) scale(1, 1);
           -moz-transform: translate(0, 0) scale(1, 1);
            -ms-transform: translate(0, 0) scale(1, 1);
             -o-transform: translate(0, 0) scale(1, 1);
                transform: translate(0, 0) scale(1, 1);

        opacity: 1;


        .modal-inner
        {
            -webkit-animation: scaleDown .7s ease both;
               -moz-animation: scaleDown .7s ease both;
                    animation: scaleDown .7s ease both;
        }


        // Hide overlay and close button
        .modal-close
        {
            opacity: 0;
        }


        // On small screens
        @media screen and (max-width: $modal-small-breakpoint)
        {
            -webkit-animation: scaleDown .7s ease both;
               -moz-animation: scaleDown .7s ease both;
                    animation: scaleDown .7s ease both;


            .modal-inner
            {
                -webkit-animation: none;
                   -moz-animation: none;
                        animation: none;
            }


            .modal-close
            {
                opacity: 1;
            }
        }
    }
}
