.home--bg {
  width: 100%;
  background: transparent url('../images/bg1.jpg') top center no-repeat fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  min-height: 708px;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg1.jpg');
}
