<div class="ui divided items">
{{#each commits}}
  <div class="item">
  <a id="{{sha}}" href="#" class="list-group-item js-commit">
    {{commit.message}} ({{commit.author.name}})
  </a>
  </div>
{{/each}}
</div>