<header>
	<div class="ui fixed inverted orange menu">
		<div class="borderless item"></div>
		<div class="borderless title item">
			<a 	href="/">{{{l10n "TITLE"}}}</a>
		</div>
			<cat-section-navigation class="right menu" id="header-section-navigation" cat-store="Pages"></cat-section-navigation>
		<div class="borderless item"></div>
	</div>
</header>
